<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{background-image:url(https://wallpaperbat.com/img/645579-health-care-wallpaper.jpg)}
        h1{color: aliceblue;}
        .start{margin:23px;
        padding: 12px;
        background-color: rgb(62, 131, 235);
        text-align: center;
    border-radius: 12px;
}
    </style>
</head>
<body background="health.jpg">
    <h1 align="center" ;color="white">
    WELCOME TO SAGAR HOSPITAL 
    </h1>
    <div class="start">
       <a href="hospital.html"> Get started</a>
    </div>
    
</body>
</html>