<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/login.css">
    <style>
        h2{ text-align: center;}
    </style>
</head>
<body>
    <h2>
        Sign up
    </h2>
    <form action="/signup" method="post">
    <input type="text" name="name" placeholder="name">
    <br>
    <input type="password" name="password" placeholder="password">
    <input type="submit">
    </form>
</body>
</html>
