*{ margin:0px;
padding: 0px;}
.nav{
    display: flex;
}
.info{
    margin-right: 100px;
    
    float: bottom;
    margin-left: 30px;
}
h1{ margin-right: 23px;}
.nav1{
    display: flex;
    justify-content:flex-start;
    background-color: rgba(50, 8, 178, 0.842);
    padding: 14px;
    
}
.info1{ margin-right: 23px;}
.nav2{
    height: 60vh;
    width:100vw ;
}